.main {
  display: flex;
  /* align-items: center; */
  text-align: center;
  margin-top: 100px;
  flex-wrap: wrap;
  justify-content: center;
}
.main-header {
  width: 600px;
}
.main-body {
  flex: 0;
  flex-grow: 0.9;
  text-align: center;
  /* min-width: 759px; */
}
.about__text {
font-weight: 800 !important;
}
* {
  font-family: 'Lato' !important;
}

.navbar-right a {
  text-decoration: none;
}
.navbar-right button {
  font-size: 15px;
  margin: 0 10px;
}

.MuiTab-root {
  font-weight: 700 !important;
}

@media only screen and (max-width: 1200px){
  /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px){
  .navbar-right button {
    font-size: 15px;
    margin: 0;
  }
  .main-body{
    margin-top: 40px;
  }
}
@media only screen and (max-width: 425px){
/*Small smartphones [325px -> 425px]*/
}